<h3>Buscar por Region <small>{{regionActiva | titlecase}}</small></h3>
<hr>

<h5>Seleccione la region</h5>

<div class="row">
    <div class="col">
        <button 
        *ngFor="let region of regiones" 
        [class]="getClaseCSS(region)" 
        (click)="activarRegion(region)">
            {{region | titlecase}}
        </button>
    </div>
</div>

<div *ngIf="regionActiva" class="row">
    <div class="col">
        
        <table  class="table table-hover animate__animated animate__backInUp">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        <img class="small-flag animate__animated animate__swing"  [src]="pais.flags.png" >
                    </td>
                    <td>{{pais.capital}}, {{pais.name}}</td>
                    <td>{{pais.population | number}}</td>
                    <td><a [routerLink]="['/pais', pais.alpha2Code]">Ver...</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>